.container {
    display: flex;
    height: 100vh;
}

.container .form {
    flex-basis: 70%;
}

.container .asideInfo {
    flex-basis: 30%;
    background: #1167b1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    padding: 0 36px;
}

.container .asideInfo .header {
    font-size: 24px;
    margin-bottom: 36px;
}

.container .asideInfo .content {
    line-height: 1.5em;
}